header
    box-shadow: var(--color-box-shadow) 0px 2px 4px 0px
    
    svg
        display: block
        width: 22px
        height: 22px
        fill: var(--color-icon-fill)
        
    svg:hover
        fill: var(--color-interactive)
    
    .wrapper
        padding: 10px 0 5px 0
        text-align: center
    
    a
        text-decoration: none

        &:hover
            text-decoration: none
    
    h1
        margin: var(--spacing-site-name)
    
    .site-name
        font-size: var(--font-size-site-name)
        font-weight: bold
        
        &::before
            content: "["
            position: relative;
            bottom: 0.05em;
        &::after
            content: "]"
            position: relative;
            bottom: 0.05em;
    
    nav
        display: flex
        justify-content: center

        li
            display: inline-block
            line-height: 0.7em
            text-transform: uppercase
            font-weight: bold
            margin-bottom: 0.26em

            &.selected
                margin-bottom: 0
                border-bottom: 0.26em solid var(--color-icon-fill)
    
    
    .description
        border-top: 0.26em solid var(--color-icon-fill)
        border-bottom: 0.26em solid var(--color-icon-fill)
        padding: 0.3em 0
        display: inline-block
        width: 80%
    
    .menu
        margin: 20px auto 5px auto
        width: 80%
        display: flex
        justify-content: space-between
    
    .share
        background: var(--color-secondary)
        position: absolute
        top: 0
        right: 0
        margin: 20px 12px
        padding: 0.3em 0.625em 0.2em
        border-radius: 0.5em
                
        li
            margin: 0px 10px
