// Colors
html
    // Light mode colors
    --color-level-0: #f8f8f8
    --color-level-1: #fff
    --color-level-2: #e8e8e8
    --color-level-3: #d8d8d8
    --color-level-4: #fff
    --color-level-5: #888
    --color-text: #222
    --color-highlight: #e28338
    --color-nav-background-selected: rgba(255,255,255,0.4)
    --color-nav-background: rgba(255,255,255,0.5)
    --color-interactive: #4c4  // links and other interactive stuff
    --color-icon-fill: #f44    // icons and non-text interactive stuff
    --color-box-shadow: rgba(0,0,0,0.3)      // color for box shadows
    --color-box-shadow-hover: rgba(0,0,0,0.5)  // color for box shadows on hover

    // Dark mode colors
    @include darkMode
        --color-level-0: #1e1e1e
        --color-level-1: #222
        --color-level-2: #181818
        --color-level-3: #282828
        --color-level-4: #333
        --color-level-5: #555
        --color-text: #ddd
        --color-nav-background-selected: rgba(255,255,255,0.1)
        --color-nav-background: rgba(255,255,255,0.2)
        --color-interactive: #f33   // links and other interactive stuff
        --color-icon-fill: #44aa44     // icons and non-text interactive stuff
        // only one version needed for box shadows
        // --color-box-shadow: rgba(255, 255, 255, 0.3)        // color for box shadows
        // --color-box-shadow-hover: rgba(255, 255, 255, 0.15)  // color for box shadows on hover
    
    // TODO: light mode code colors
    --code-background: #1a1a1a
    --code-color: #a9bcbc
    --code-keyword: #e73289
    --code-type: #8281ca
    --code-call: #348fe5
    --code-property: #21ab9d
    --code-number: #db6f57
    --code-string: #fa641e
    --code-comment: #6b8a94
    --code-dotAccess: #92b300
    --code-preprocessing: #b68a00

    // Dark mode code colors
    @include darkMode
        --code-background: #1a1a1a
        --code-color: #a9bcbc
        --code-keyword: #e73289
        --code-type: #8281ca
        --code-call: #348fe5
        --code-property: #21ab9d
        --code-number: #db6f57
        --code-string: #fa641e
        --code-comment: #6b8a94
        --code-dotAccess: #92b300
        --code-preprocessing: #b68a00

    // Tag colors, TODO: Finetune colors
    --tag-color-blog: #6C7A89
    --tag-color-swiftui: #00C6DE
    --tag-color-swift: #f7725a
    --tag-color-publish: #F47983
    --tag-color-projekt: #8174a3
    --tag-color-fotos: #72baae
    --tag-color-tools: #70b66d
    // Future Colors
    --tag-color-TAGNAME-0: #e37b7b
    --tag-color-TAGNAME-1: #d29281
    --tag-color-TAGNAME-2: #dba968
    --tag-color-TAGNAME-3: #c2b861
    --tag-color-TAGNAME-4: #9eb16a
    --tag-color-TAGNAME-7: #6fa2bd
    --tag-color-TAGNAME-8: #79a2da
    --tag-color-TAGNAME-9: #908cc6
    --tag-color-TAGNAME-10: #83749f
    --tag-color-TAGNAME-11: #ba7da7

    // Fonts
    --font-size-site-name: 1.8em
    --font-size-h1: 2.10em
    --font-size-h2: 1.50em
    --font-size-h3: 1.40em
    --font-size-h4: 1.30em
    --font-size-h5: 1.25em
    --font-size-h6: 1.20em
    --font-size-item-list: 1.3em
    --font-size-text: 1em

    // Spacing
    --spacing-site-name: 0.625em
    --spacing-h1: 1.250em
    --spacing-h2: 1.125em
    --spacing-h3: 1.025em
    --spacing-h4: 0.950em
    --spacing-h5: 0.900em
    --spacing-h6: 0.875em
    --spacing-paragraph: 0.875em
    --spacing-items: 2em
    --spacing-content: 1em
    --line-height: 1.3em
    
    @include sm
        --spacing-items: 1em
